<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <title>Jogo da Memoria</title>
    <script src="../libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/controller/jmFacil.js"></script>

    <link rel="stylesheet" type="text/css" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body class="background header container-fluid">

<!------>
<!------>
<!------>
<!--- NAVBAR --->
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">Brain Games</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index.html">Home</a></li>
                <li><a href="projeto.html">Projeto</a></li>
                <li><a href="equipe.html">Equipe</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-md-12">
    <div class="col-md-3"></div>
    <div id="main" class="col-md-6 main">

        <div id="score"></div>
        <div id="game"></div>
        <div id="control">
            <input type="button" style="margin-top: 15px;" class="btn btn-success" value="Reiniciar"
                   onclick="GameControl.createGame()"/>
        </div>
    </div>
</div>
</body>
</html>